# settings.py

## For production, DEBUG='', for development DEBUG=1.
DEBUG=''
SECRET_KEY=<generate_secret_key>
DJANGO_ALLOWED_HOSTS=<hostname>
CSRF_TRUSTED_ORIGINS=<hostname>
CORS_ORIGIN_WHITELIST=<hostname>

SQL_ENGINE=django.db.backends.postgresql

SQL_DATABASE=<db_name>
SQL_USER=<db_user_name>
SQL_PASSWORD=<db_user_password>
SQL_HOST=<db_name>
SQL_PORT=5432

## For the initial admin user creation, fill in your desired credentials.

SUPERUSER_NAME=admin
SUPERUSER_PASS=password
SUPERUSER_EMAIL=admin@example.com
